body {
  margin: 0;
  background-color: #eef3db;
  font-family: 'Roboto', sans-serif; }

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: #b7d8d6;
  overflow: hidden;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%; }

.topnav a {
  color: #222;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  font-size: 17px;
  flex-basis: 120px;
  align-self: flex-start; }

.topnav span {
  color: #222;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 16px;
  margin-right: auto;
  font-weight: bold; }

.topnav a:hover {
  background-color: #789e9e;
  color: black; }

.topnav a.active {
  background-color: #4d6466;
  color: white; }

.container {
  margin: 0 10%;
  padding: 60px 0; }

.container h1 {
  text-transform: uppercase; }

.event {
  text-align: center; }

.event img {
  width: 400px;
  height: 600px; }

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.event-card {
  margin: 20px;
  color: #222; }

.event-card a {
  text-decoration: none;
  color: inherit; }

.event-photo {
  width: 200px;
  height: 300px; }

footer {
  display: flex;
  justify-content: flex-start;
  background-color: #b7d8d6;
  overflow: hidden;
  font-weight: 500; }

footer a {
  color: #222;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 17px; }

.view-select {
  display: flex;
  align-items: center; }

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.event-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.about-us article {
  width: 66%; }

.about-us img {
  width: 300px;
  height: 200px; }

.event-info {
  flex-basis: 600px; }

.event-poster {
  width: 400px;
  height: 600px; }

.contact-line {
  display: flex;
  align-items: center; }

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login-form > * {
  margin-top: 20px; }

.user-info {
  display: flex;
  flex-direction: column; }

.user-info > * {
  margin-top: 20px; }

.user-info span button {
  margin-left: 10px; }
