$first-color: #b7d8d6;
$second-color: #789e9e;
$third-color: #4d6466;
$bg-color: #eef3db;
$error-color: #fe615a;
$text-color: #222;

body {
  margin: 0;
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: $first-color;
  overflow: hidden;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  color: $text-color;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  font-size: 17px;
  flex-basis: 120px;
  align-self: flex-start;
}

.topnav span {
  color: $text-color;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 16px;
  margin-right: auto;
  font-weight: bold;
}

.topnav a .authorization-button {}

.topnav a:hover {
  background-color: $second-color;
  color: black;
}

.topnav a.active {
  background-color: $third-color;
  color: white;
}

.events {
  margin: 0 10%;
  padding-top: 60px;
}

.events h1 {
  text-transform: uppercase;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-card {
  margin: 20px;
  color: $text-color;
}
.event-card a {
  text-decoration: none;
  color: inherit;
}

.event-photo {
  width: 200px;
  height: 300px;
}

footer {
  display: flex;
  justify-content: flex-start;
  background-color: $first-color;
  overflow: hidden;
  font-weight: 500;
}

footer a {
  color: $text-color;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 17px;
}

.view-select {
  display: flex;
  align-items: center;
}